img {
    width: 100px;
    height: 100px;
   }
   
label {
     text-align: left;
     padding: 0.25rem 0;
   }
   
input {
     width: 300px;
     margin: 0.5rem 20%;
     padding: 1rem;
     border: none;
     border-radius: 10px;
   }
   
select {
     width: 330px;
     margin: 0.5rem 0;
     padding: 0.5rem;
     border: none;
     border-radius: 10px;
   }
   
button {
     border: none;
     background-color: white;
     padding: 10px;
     margin: 1.5rem 40%;
     border-radius: 5px;
     cursor: pointer;
     color: #7439db;
   }
   
.upload {
     position: absolute;
     top: 10%;
     left: 45%;
     background-color: #99d2e2;
     border-radius: 40px;
     align-items: center;
   }
   
.container {
     background-color:bisque;
     background-size:auto;
     width: 100vw;
     height: 105vh;
     display: grid;
     
     /* grid-template: 1fr 5fr 1fr / 1fr 4fr; /*  6*10 */
     grid-template-rows: 100px 100px 100px 20px 100px 100px 20px 100px 100px 20px 100px;
     grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
     gap: 10px;
   }
   
.modal {
     background-color: white;
   }
   
.grid1-1 {
     background-color: #cabebe;
     grid-row: 1;
     grid-column: 1;
     cursor: pointer;
   }
   
.grid2-1 {
     background-color: #cabebe;
     grid-row: 2;
     grid-column: 1;
     cursor: pointer;
   }
   
.grid3-7 {
     background-color: #cabebe;
     grid-row: 3;
     grid-column: 7;
     cursor: pointer;
   }
   
.grid3-8 {
     background-color: #cabebe;
     grid-row: 3;
     grid-column: 8;
     cursor: pointer;
   }
   
.grid3-9 {
     background-color: #cabebe;
     grid-row: 3;
     grid-column: 9;
     cursor: pointer;
   }
   
.grid3-10 {
     background-color: #cabebe;
     grid-row: 3;
     grid-column: 10;
     cursor: pointer;
   }
   
.grid5-2 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 2;
     cursor: pointer;
   }
   
.grid5-3 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 3;
     cursor: pointer;
   }
   
.grid5-4 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 4;
     cursor: pointer;
   }
   
.grid5-5 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 5;
     cursor: pointer;
   }
   
.grid5-6 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 6;
     cursor: pointer;
   }
   
.grid5-8 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 8;
     cursor: pointer;
   }
   
.grid5-9 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 9;
     cursor: pointer;
   }
   
.grid5-10 {
     background-color: #cabebe;
     grid-row: 5;
     grid-column: 10;
     cursor: pointer;
   }
   
.grid6-2 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 2;
     cursor: pointer;
   }
   
.grid6-3 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 3;
     cursor: pointer;
   }
   
.grid6-4 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 4;
     cursor: pointer;
   }
   
.grid6-5 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 5;
     cursor: pointer;
   }
   
.grid6-6 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 6;
     cursor: pointer;
   }
   
.grid6-8 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 8;
     cursor: pointer;
   }
   
.grid6-9 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 9;
     cursor: pointer;
   }
   
.grid6-10 {
     background-color: #cabebe;
     grid-row: 6;
     grid-column: 10;
     cursor: pointer;
   }
   
.grid8-2 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 2;
     cursor: pointer;
   }
   
.grid8-3 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 3;
     cursor: pointer;
   }
   
.grid8-4 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 4;
     cursor: pointer;
   }
   
.grid8-5 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 5;
     cursor: pointer;
   }
   
.grid8-6 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 6;
     cursor: pointer;
   }
   
.grid8-7 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 7;
     cursor: pointer;
   }
   
.grid8-8 {
     background-color: #cabebe;
     grid-row: 8;
     grid-column: 8;
     cursor: pointer;
   }
   
.grid9-2 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 2;
     cursor: pointer;
   }
   
.grid9-3 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 3;
     cursor: pointer;
   }
   
.grid9-4 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 4;
     cursor: pointer;
   }
   
.grid9-5 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 5;
     cursor: pointer;
   }
   
.grid9-6 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 6;
     cursor: pointer;
   }
   
.grid9-7 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 7;
     cursor: pointer;
   }
   
.grid9-8 {
     background-color: #cabebe;
     grid-row: 9;
     grid-column: 8;
     cursor: pointer;
   }
   
.grid11-7 {
     background-color: #cabebe;
     grid-row: 11;
     grid-column: 7;
     cursor: pointer;
   }
   
.grid11-8 {
     background-color: #cabebe;
     grid-row: 11;
     grid-column: 8;
     cursor: pointer;
   }
   
   